# dependencies
node_modules/
.venv/
venv/
env/

# Python
__pycache__/
*.pyc

# build
dist/
build/
target/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# env/secrets
.env
.env.*
*.pem
*.key
id_rsa
id_rsa.pub
